.DS_Store
.idea
*.iml
*.ipr
*.iws
target
*~
*#
.classpath
.project
.settings
*.log
*.log.gz
*.log.json
*.log.json.gz
*/dependency-reduced-pom.xml
report.xml
cucumber-reports
RPMS
.env.version.local
.gradle
build
node_modules/
/out/
/snyk-out/
Makefile
snyk